.cart {
  display: flex;
}

.cart-cantidad {
  margin-top: 1rem;
  color: rgb(214, 51, 51);
  font-weight: bold;
  font-size: 1.3rem;
}

.btn-carrito {
  background-image: url(../../assets/img/ico_carrito.png);
  background-repeat: no-repeat;
  height: 28px;
  width: 33px;
  background-position: center;
  border: none;
}

.btn-carrito:hover {
  background-image: url(../../assets/img/ico_carrito1.png);
  cursor: pointer;
  background-repeat: no-repeat;
  height: 28px;
  width: 33px;
  background-position: center;
  border: none;
}
